@font-face {
  font-family: 'BM-HANNA';
  src: url('/assets/fonts/BM-HANNA.woff') format('woff');
}

@font-face {
  font-family: 'Bactoria';
  src: url('/assets/fonts/Bactoria.woff') format('woff');
}

@font-face {
  font-family: 'GodoM';
  src: url('/assets/fonts/GodoM.woff') format('woff');
}

.hanna {
  font-family: BM-HANNA;
}

.Bactoria {
  font-family: Bactoria;
}

.GodoM {
  font-family: GodoM;
}

.GodoB {
  font-family: GodoM;
  font-stretch: expanded;
}
